#export TRAY_LOADER_EXECUTE_PATH=/usr/libexec/trayplugin-loader
#export TRAY_DEBUG_PLUGIN_PATH=/usr/lib/dde-dock/plugins/:/usr/lib/dde-dock/plugins/system-tray/
export DISPLAY=:0
export QT_QPA_PLATFORM=dxcb
export DDE_SHELL_PLUGIN_PATH=$PWD/build/plugins
export DDE_SHELL_PACKAGE_PATH=$PWD/build/packages
